{% extends "base.html" %}

{% block master_content %}
<div id="storage-ui-container"></div>
<div id="storage-alert-container"></div>
<div id="storage-tooltip-container"></div>


<div id="sidebar">
  {% block sidebar %}
  {% endblock %}
</div>
<div id="content">
  {% block content %}
  {% endblock %}
</div>
<div id="footer">
  {% block footer %}
  {% endblock %}
</div>
{% endblock %}
