<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/markercluster/dist/MarkerCluster.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/markercluster/dist/MarkerCluster.Default.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/draw/dist/leaflet.draw.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/edit_in_osm/Leaflet.EditInOSM.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/minimap/src/Control.MiniMap.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/contextmenu/dist/leaflet.contextmenu.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/src/css/storage.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}umap/umap.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/contrib/css/storage.ui.default.css">
