<script src="{{ STATIC_URL }}storage/reqs/leaflet/dist/leaflet-src.js"></script>
<script src="{{ STATIC_URL }}storage/reqs/draw/dist/leaflet.draw-src.js"></script>
<script src="{{ STATIC_URL }}storage/reqs/hash/leaflet-hash.js"></script>
<script src="{{ STATIC_URL }}storage/reqs/i18n/Leaflet.i18n.js"></script>
<script src="{{ STATIC_URL }}storage/reqs/edit_in_osm/Leaflet.EditInOSM.js"></script>
<script src="{{ STATIC_URL }}storage/reqs/minimap/src/Control.MiniMap.js"></script>
<script src="{{ STATIC_URL }}storage/reqs/csv2geojson/csv2geojson.js"></script>
<script src="{{ STATIC_URL }}storage/reqs/togeojson/togeojson.js"></script>
<script src="{{ STATIC_URL }}storage/reqs/osmtogeojson/osm_geojson.js"></script>
<script src="{{ STATIC_URL }}storage/reqs/loading/src/Control.Loading.js"></script>
<script src="{{ STATIC_URL }}storage/reqs/markercluster/dist/leaflet.markercluster-src.js"></script>
<script src="{{ STATIC_URL }}storage/reqs/measure/leaflet.measurecontrol.js"></script>
<script src="{{ STATIC_URL }}storage/reqs/contextmenu/dist/leaflet.contextmenu-src.js"></script>

<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.core.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.xhr.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.forms.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.icon.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.features.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.layer.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.controls.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.js"></script>
<script src="{{ STATIC_URL }}storage/contrib/js/storage.ui.default.js"></script> 
