{% load comments i18n crispy_forms_tags fluent_comments_tags %}{% load url from future %}

{% if not form.target_object|comments_are_open %}
    <p>{% trans "Comments are closed." %}</p>
{% else %}
    <form action="{% comment_form_target %}" method="post" class="js-comments-form comments-form" data-ajax-action="{% url 'comments-post-comment-ajax' %}">
      {% csrf_token %}
      {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
      {{ form|crispy }}
      <div class="form-actions">
        <button type="submit" name="post" class="btn"><i class="icon-reply"></i> {% trans "Post" %}</button>
	<button type="submit" name="preview" class="btn"><i class="icon-zoom-in"> </i>  {% trans "Preview" %}</button>
       {% ajax_comment_tags %}
      </div>
    </form>
{% endif %}
