<div class="ngCellText" ng-class="col.colIndex()">
  <a class="" ng-click="getAjaxForm('/storage/resource/update/{{row.getProperty(col.field)}}')" href="#">
    <i class="icon-edit icon-2x"></i>
  </a>
</div>
