{% extends "media_classification/base.html" %}
{% load staticfiles %}
{% block content %}
{% if attributesets %}
	<table class="table">
	<th>Name</th>
	<th>Resource type</th>
	<th>Detail</th>
	<th>Update</th>
	{% for attributeset in attributesets %}
	<tr>
		<td>{{attributeset.name}}</td>
		<td>{{attributeset.resource_type}}</td>
		<td><a href="{% url "media_classification:attributeset_detail" attributeset.pk %}"><span class="glyphicon glyphicon-search"></span></a></td>
		<td><a href="{% url "media_classification:attributeset_update" attributeset.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
	</tr>
	{% endfor %}
	</table>
{% else %}
No project available. Start one now!
{% endif %}

{% endblock content %}
