{% extends "media_classification/base.html" %}
{% load staticfiles %}
{% block content %}
<h3>Name:</h3>
{{ attributeset.name }}
<h3>Resource type:</h3>
{{attributeset.resource_type}}
<h3>Custom attrs:</h3>
{{attributeset.custom_attrs}}
<h3>Predefined attrs:</h3>
{{attributeset.predefined_attrs}}

{% endblock content %}
