{% extends "media_classification/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load trapper_tags %}

{% block header %}
<script type="text/javascript" src="{% static "jquery/jquery.ui.sortable.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2.js" %}"></script>
<link type="text/css" href="{% static "css/select2.css" %}" media="screen" rel="stylesheet">
<script type="text/javascript" language="javascript">
  $(document).ready(function() {
    $("#sortable_dynamic").sortable({
	update: function(event, ui) {
	    var serial = $('#sortable_dynamic').sortable('toArray').map(function(x){return x.replace(/attr_/, '')})
	    $('#id_dynamic_attrs_order').val(serial);
	},
    }).disableSelection();
    $("#sortable_static").sortable({
	update: function(event, ui) {
	    var serial = $('#sortable_static').sortable('toArray').map(function(x){return x.replace(/attr_/, '')})
	    $('#id_static_attrs_order').val(serial);
	},
    }).disableSelection();
  });
</script>
{% endblock header %}

{% block content %}
<div class="row">
  <form id="attributeSet" action="." method="post">  
    <div class="col-md-5">
      {% crispy atset_form %}
      <h4>List of attributes (dynamic form)</h4>
      <div class="panel panel-default">
	<div class="panel-body">
	  <ul id="sortable_dynamic" class="list-unstyled">
	    {% for key in object.get_dynamic_attrs_order %}
	    {% if object.custom_attrs|get_item:key %}
	    <li id="attr_{{ key }}" class="ui-state-default">
	      <strong>{{ key }}</strong> : {{ object.custom_attrs|get_item:key }}
	      <p>
		<td><button type="submit" name="updateAttr" value="{{key}}" class="btn btn-info btn-xs">Update</button></td>
		<td><button type="submit" name="removeAttr" value="{{key}}" class="btn btn-danger btn-xs">Remove</button></td>
	      </p>
	    </li>
	    {% elif key in object.get_active_pre_attrs_names %}
	    <li id="attr_{{ key }}" class="ui-state-default">
	      <strong>PREDEFINED: {{key }}</strong>
	    </li>
	    {% endif %}
	    {% endfor %}
	  </ul>
	</div>
      </div>
      <h4>List of attributes (static form)</h4>
      <div class="panel panel-default">
	<div class="panel-body">
	  <ul id="sortable_static" class="list-unstyled">
	    {% for key in object.get_static_attrs_order %}
	    {% if object.custom_attrs|get_item:key %}
	    <li id="attr_{{ key }}" class="ui-state-default">
	      <strong>{{ key }}</strong> : {{ object.custom_attrs|get_item:key }}
	      <p>
		<td><button type="submit" name="updateAttr" value="{{key}}" class="btn btn-info btn-xs">Update</button></td>
		<td><button type="submit" name="removeAttr" value="{{key}}" class="btn btn-danger btn-xs">Remove</button></td>
	      </p>
	    </li>
	    {% elif key in object.get_active_pre_attrs_names %}
	    <li id="attr_{{ key }}" class="ui-state-default">
	      <strong>PREDEFINED: {{key }}</strong>
	    </li>
	    {% endif %}
	    {% endfor %}
	  </ul>
	</div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5" id="accordion">
      {% crispy at_form %}
      <a style="color:inherit;" data-toggle="collapse" data-parent="#accordion" href="#predefined_attrs">
	<h3>Choose pre-defined attributes</h3></a>  
      <fieldset>
	<legend></legend>
	<div id="predefined_attrs" class="panel-collapse collapse">
	  {% crispy pre_at_form %}
	</div>
      </fieldset>
      <a style="color:inherit;" data-toggle="collapse" data-parent="#accordion" href="#json">
      <h3>Import JSON file with attributes definitions</h3></a>  
      <fieldset>
	<legend></legend>
	<div id="json" class="panel-collapse collapse">
	  <span class="help-block">This action can potentially overwrite your custom attributes!</span>
	  <input class="clearablefileinput" id="id_file" name="file" type="file">
	</div>
      </fieldset>
    </div>
</div><br>

<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-form" style="margin-left:40px;">
	<li><input type="submit" name="submit" value="Save" class="btn btn-success"></li>
	<li>
	  {% if object %}
	  <input type="submit" name="clone" value="Clone" class="btn btn-default">
	  {% endif %}
	</li>
      </ul>
    </div>
  </div>
</div>
</form>
{% endblock content %}
