{% extends "media_classification/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load comments %}

{% block header %}
<script type="text/javascript" src="{% static "fluent_comments/js/ajaxcomments.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "fluent_comments/css/ajaxcomments.css" %}"/>
<script type="text/javascript" src="{% static "jquery/jquery.jcarousel.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/jcarousel.css" %}"/>
<script type="text/javascript" src="{% static "jquery/jquery.ui.selectable.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "jquery/jquery.ui.selectable.css" %}"/>
<script type="text/javascript" src="{% static "jquery/jquery.formset.js" %}"></script>
<script type="text/javascript" src="{% static "js/sequences.js" %}"></script>
<script type="text/javascript" src="{% static "jquery/jquery.confirm.min.js" %}"></script>

<script type="text/javascript">
    var params = {
	formTemplate: '#row-template',
	addCssClass: 'add-row',
	//prefix:  '',
	addText: '<i class="icon-plus icon-2x"></i>',
	deleteCssClass: 'delete-row',
	deleteText: '<i class="icon-remove icon-2x"></i>',
    }
  $(function() {
      $('#dynamic-form tbody tr').formset(params);
  });
  $(function() {
      $('.jcarousel').jcarousel({
	  // configuration
      }).jcarousel('scroll', $('li.scroll_to_current'), animate=false);
      $('.jcarousel-control-prev').jcarouselControl({
      target: '-=1'
      });
      $('.jcarousel-control-next').jcarouselControl({
	  target: '+=1'
      });
  });
  $(function() {
      $( "#selectable" ).selectable({
	  cancel: 'a,p',
      });
  });
  // sequences.js init variables
  var sequencesUrl = "/media_classification/sequence/list/{{collection.pk}}/"
  var collectionPk = "{{collection.pk}}"
  $(function() {
      refreshSequences(sequencesUrl);
  });
</script>

{% endblock header %}

{% block content %}

<table class="table table-striped table-condensed" style="display:none">
  <tbody>
    <tr id="row-template">
      {% for field in dynamic_class_form.empty_form %}
      {% include 'crispy_forms/bootstrap/field.html' with tag="th" form_show_labels=False %}
      {% endfor %}
      <td></td>
  </tbody>
</table>

<div class="page-header">
  <h1 class="{{ resource.get_icon_class }}" style="display:inline;">{{ resource.name }} <small>{{ project.name }} - {{ collection.collection.collection.name }}</small></h1>
  <ul class="list-inline pull-right">
    <li>  
      <a id="accordion" class="btn btn-warning btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	<i class="icon-exchange"></i> Navigation toolbar
      </a>
    </li>
    {% block classification-actions %}
    <li>
      <a class="btn btn-info btn-sm" href="#">
	Action1
      </a>
    </li>
    {% endblock %}
  </ul>
</div>

{% include "media_classification/classify_resource_carousel.html" %}

<div class="row">
    <div class="col-md-7">
      {% include "storage/resource_display.html" %}
    </div>
    <div class="col-md-5">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
	<li class="active"><a href="#show_class" data-toggle="tab">Classification</a></li>
	{% get_comment_count for resource as comment_count%}
	<li><a href="#show_comments" data-toggle="tab">Comments ({{ comment_count }})</a></li>
	<li><a href="#sth_else" data-toggle="tab">Sth else</a></li>
      </ul>

      <div class="tab-content">
	<div class="tab-pane fade in active" id="show_class">
	  {% include "media_classification/classification_results.html" %}
	</div>
	<div class="tab-pane fade" id="show_comments">
	  {% render_comment_list for resource %}
	  {% render_comment_form for resource %}
	</div>
	<div class="tab-pane fade" id="sth_else">
	</div>
      </div>
    </div>
</div>

<div class="row">
  <form id="class-form" class="" action="" method="post" novalidate>

    {% if class_user == request.user %}
      <h2><strong>Your</strong> classification</h2>
    {% elif class_user == None %}
      <h2><i class="icon-check", style="color:darkolivegreen"></i> <strong>Approved</strong> <small> This classification has been approved by <a href="{{ classification.approved_by.userprofile.get_absolute_url }}"><strong>{{classification.approved_by.get_full_name}}</strong> </a> on {{ classification.approved_date }} </strong></small></h2>
    {% else %}
      <h2><a href="{{class_user.userprofile.get_absolute_url}}"><strong>{{class_user.get_full_name}}</strong></a> classification</h2>
    {% endif %}
    
    {% if static_class_form %}
    {{ static_class_form.media }}
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          {% for field in static_class_form %}
          {% if field.label and not field.is_hidden %}
          <th for="{{ field.auto_id }}" class="control-label {% if field.field.required %}requiredField{% endif %}">
            {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
          </th>
          {% endif %}
          {% endfor %}
        </tr>
      </thead>

      <tbody>
	<tr id="row-template">
	  {% for field in static_class_form %}
	  {% include 'crispy_forms/bootstrap/field.html' with tag="th" form_show_labels=False %}
	  {% endfor %}
      </tbody>
    </table>

    {% endif %} 

    <div id="dynamic-form">
       {% if dynamic_class_form %}
          {{ dynamic_class_form.media }}
          {% crispy dynamic_class_form dynamic_class_form.form.helper %}
       {% endif %}
    </div>

  </form>

  {% if not static_class_form and not dynamic_class_form %}
     <strong>There is no AttributeSet defined for this type of resources !!! </strong>
     <p><a href="{% url 'media_classification:attributeset_create' %}">Create new attribute set</a></p>
  {% endif %}
</div>

<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-form list-inline" style="margin-left:40px;">
	{% if user_is_admin or class_user == request.user %}
	<li> 
	  <input type="submit" class="btn btn-success btn-sm" value="Save this classification" onclick="$('#class-form').submit()">
	</li>
	{% endif %}
	{% if user_is_admin %}
	<li> 
	  <input type="submit" class="btn btn-success btn-sm" value="Save & approve this classification" onclick="saveApprove()">
	</li>
	{% endif %}
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
    var saveApprove = function() {
	$('#class-form').append("<input type='hidden' name='Approve' value='Approve' />");
	$('#class-form').submit();
    }
</script>

{% include "modal_form_template.html" %}
{% endblock content %}
