<div class="" style="overflow-x: auto">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
	{% for key in classification.get_attset.get_static_attrs_order %}
	<th>{{ key|lower|capfirst }}</th>
	{% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
	{% for val in uc.get_static_values %}
	<td>{{ val }}</td>
	{% endfor %}
      </tr>
    </tbody>
  </table>
</div>

<div class="" style="overflow-x: auto">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
	{% for key in uc.classification.get_attset.get_dynamic_attrs_order %}
	<th>{{ key|lower|capfirst }}</th>
	{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in uc.get_dynamic_rows %}
      <tr>
	{% for val in row %}
	<td>{{ val }}</td>
	{% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
