{% extends "media_classification/base.html" %}
{% block content %}
<form action="" method="post">
{% csrf_token %}
<p>Are you sure you want to delete "{{object}}" ? </p>
<br />
<input type="submit" name="submit" value="Confirm"/>
</form>
{% endblock content %}
