<div style="font-size:12px">
  <div class="panel-group">
    {% if classification.approved %}
    <h5><i class="icon-check", style="color:darkolivegreen"></i> Classification already approved by</h5>
    <div class="panel panel-success">
      <div class="panel-heading">
	<strong> 
	  <i class="icon-user"></i>
	  <a href="{{classification.approved_by.userprofile.get_absolute_url}}">{{classification.approved_by.get_full_name}}</a>
	  admin  
	</strong>
	on {{ classification.approved_date }}
	<a class="pull-right" href="{% url "media_classification:classify" project.id resource.id collection.id %}">
	  {% if user_is_admin %} Edit {% else %} Show {% endif %}
	</a>	  
      </div>
    </div>
    {% endif %}
    <h5>This resource has been also classified by</h5>
    {% for uc in classification.get_users_class %}
    {% if not uc.user == request.user %}
    <div class="panel panel-info">
      <div class="panel-heading">
	    <strong> 
	      <i class="icon-user"></i> <a href="{{uc.user.userprofile.get_absolute_url}}">{{uc.user.get_full_name}}</a>
	      {{ uc.get_user_role.get_name_display|lower }}  
	    </strong>
	    on {{ uc.modified }}
	    <a class="pull-right" href="{% url "media_classification:classify_user" project.id resource.id collection.id uc.user.id %}">
	      {% if user_is_admin %} Edit {% else %} Show {% endif %}
	    </a>	  
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% if not class_user == request.user %}
  <h4><a class="btn btn-default" href="{% url "media_classification:classify_user" project.id resource.id collection.id request.user.id %}">Edit your classification</a></h4>
  {% endif %}
</div>

