{% load thumbnail %}

<div id="collapseOne" class="panel-collapse collapse in">
  <div class="panel-body row" style="padding:0 0 40px 0">

    <div class="jcarousel-wrapper col-md-10">
    <div class="jcarousel">
      <ul id="selectable">
	{% for r, approved_status in resources %}
	{% thumbnail r.file "carousel" as thumb %}
        <li {% if r == resource %} class="scroll_to_current" {% endif %} id="{{ r.pk }}">
	  <div class="thumbnail-condensed" style="margin-down:0px;">
	  <a href="#" class="thumbnail-condensed {% if r == resource %} current_resource {% endif %}">
	    <img width="{{ thumb.width }}" height="{{ thumb.height }}" src="{{ thumb.url }}"></img>
	  </a>

	  <div class="">
            <p class="{{ r.get_icon_class }}"><strong>{{ r.name }}</strong>
	      {% if approved_status %}
	        <i class="icon-check icon-2x pull-right", style="color:darkolivegreen"></i>
	      {% endif %}
	      <br>{{ r.date_recorded }}
	    </p>
            <p><a href="{% url 'media_classification:classify' project.pk r.pk collection.pk %}" class="btn btn-primary btn-xs" role="button">Classify</a> <a href="#" class="btn btn-default btn-xs" role="button">Update</a></p>
	  </div>
	  </div>
	  {% if user_is_admin or collection.sequencing_experts %}
	  <div class="sequence-active"></div>
	  <div class="sequences-current-resource">
	  </div>
	  <div class="sequences-all">
	  </div>
	  {% endif %}
	</li>
	{% endfor %}
      </ul>
    </div>

    <!-- Controls -->
    <a class="jcarousel-control-prev" href="#"><i class="icon-chevron-sign-left icon-4x"></i></a>
    <a class="jcarousel-control-next" href="#"><i class="icon-chevron-sign-right icon-4x"></i></a>
    </div>

    {% if user_is_admin or collection.sequencing_experts %}
    <ul class="list-group col-md-2 pull-right">
      <li class="list-group-item"><h3>SEQUENCES</h3></li>
      <li class="list-group-item">
	<a href="#" class="btn btn-primary btn-xs" role="button" id="sequence-create">Create</a>
	<a href="#" class="btn btn-default btn-xs" role="button" id="selection-clear">Clear</a>
      </li>
      <div id="sequence-detail" class="help-text">
      </div>
      <li class="list-group-item">
	<span id="sequence-update-button"></span>
	<span id="sequence-delete-button"></span>
      </li>
    </ul>
    {% endif %}

  </div>
</div>
