{% load thumbnail %}

<input class="action-select" name="action-select" value="{{ classification.id }}" type="checkbox" form="id_action_posts"/>

<div class="row">


<div class="col-md-2">

  <div class="thumbnail">
    <img src="{{ classification.resource.file|thumbnail_url:'carousel' }}"/>
    <div class="">
      <p class="{{ classification.resource.get_icon_class }}"><strong>{{ classification.resource.name }}</strong>
	{% if classification.approved %}
	   <i class="icon-check icon-2x pull-right", style="color:darkolivegreen"></i>
	{% endif %}
	<br><small>{{ classification.resource.date_recorded }}</small>
      </p>
    </div>
  </div>
</div>

<div class="col-md-10">

<div class="panel panel-default">
  <div class="panel-heading">
    Resource: {{ classification.resource.name }} <a href="{{ classification.resource.get_absolute_url }}"><span class="glyphicon glyphicon-search"></span></a>
    , Approved: {{ classification.approved }}
    , Approved by: {{ classification.approved_by }}
    , Project: {{ classification.project.name }}
    , ProjectColection: {{ classification.pcollection }}
    , Location: {{ classification.resource.location }}
  </div>
  {{ classification.data_static_form }}<br>
  {% for row in classification.data_dynamic_form_rows.all %}
     {{ row.data_dynamic_form_row }}<br>
  {% endfor %}
</div>

<p>
  <a href="{% url 'media_classification:classify' project.pk classification.resource.pk classification.pcollection.pk %}" class="btn btn-success btn-xs" role="button">View</a>
  <a href="{% url 'media_classification:classification_delete' classification.pk %}" class="btn btn-danger btn-xs" role="button">Delete</a>
</p>

</div>
</div>
