<div style="font-size:12px">
  <p>
    Admin: {{ user_is_admin}} <br>
    {{ classification.pk }}
    Approved <strong> {{ classification.approved }} </strong> <br>
    Approved by <strong> {{ classification.approved_by }} </strong>on <strong> {{ classification.approved_date }} </strong><br>
    {{ classification.approved_data_static_form }} <br>
    {{ classification.approved_data_dynamic_form_rows.values }} <br>
  </p>
  <div class="panel-group" id="results">
    {% for uc in classification.users_classifications.all %}
    <div class="panel panel-success">
      <div class="panel-heading">
	    <strong> 
	      <i class="icon-user"></i> <a href="{{uc.user.userprofile.get_absolute_url}}">{{uc.user.get_full_name}}</a>
	      {{ uc.get_user_role.get_name_display|lower }}  
	    </strong>
	    on {{ uc.modified }}
          <a class="pull-right" data-toggle="collapse" data-parent="#results" href="#uc_{{uc.pk}}">Show / Hide</a>
      </div>
      <div id="uc_{{uc.pk}}" class="panel-collapse collapse">
	<div class="panel-body">
	  
	  {% if static_class_form %}
	  <div class="" style="overflow-x: auto">
	    <table class="table table-striped table-condensed">
	      <thead>
		<tr>
		  {% for key in uc.classification.get_attset.get_static_attrs_order %}
		  <th>{{ key|lower|capfirst }}</th>
		  {% endfor %}
		</tr>
	      </thead>
	      <tbody>
		<tr>
		  {% for val in uc.get_static_values %}
		  <td>{{ val }}</td>
		  {% endfor %}
		</tr>
	      </tbody>
	    </table>
	  </div>
	  {% endif %}

	  {% if dynamic_class_form %}
	  <div class="" style="overflow-x: auto">
	    <table class="table table-striped table-condensed">
	      <thead>
		<tr>
		  {% for key in uc.classification.get_attset.get_dynamic_attrs_order %}
		  <th>{{ key|lower|capfirst }}</th>
		  {% endfor %}
		</tr>
	      </thead>
	      <tbody>
		{% for row in uc.get_dynamic_rows %}
		<tr>
		  {% for val in row %}
		  <td>{{ val }}</td>
		  {% endfor %}
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	  {% endif %}

	  <br><a href="{% url "media_classification:classify_verify" project.id resource.id collection.id uc.user.id %}" class="btn btn-warning btn-xs">Open</a>
	</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

