{% extends "media_classification/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap_pagination %}
{% load staticfiles %}

{% block header %}
<script type="text/javascript" src="{% static "js/select2.js" %}"></script>
<link type="text/css" href="{% static "css/select2.css" %}" media="screen" rel="stylesheet">

<script type="text/javascript">
    $(function () {
	$('select.selectmultiple').select2({
	    width: 150,
	    minimumInputLength: 3,
	});
    });
</script>
{% endblock header %}



{% block content %}

{% if is_paginated %}
   {% bootstrap_paginate page_obj %}
{% endif %}

<form class="form-inline" action="">
{% crispy filtering_form %}
<button type="submit" class="btn btn-default">Apply</button>
<a class="small" href="{% url "media_classification:classification_list" project.id %}">Clear all filters</a>
<span class="pull-right">{{ qs_filtered_len }} ({{ qs_all_len }})</span>
</form>
<br>
<form action="" method="post" id="id_action_posts" class="form-inline">
{% csrf_token %}
{% include 'actions_select.html' %}<br>
{% for classification in page_obj %}
   {% include "media_classification/classification_display.html" %}
{% endfor %}
</form>

{% endblock content %}
