{% extends "media_classification/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">
    Classification project details:
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">Name: {{project.name}}</li>
      <li class="list-group-item">
	Part of research project: <a href="{{project.research_project.get_absolute_url}}">{{project.research_project.name}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    Researchers in this project:
  </div>
  <div class="panel-body">
    <table class="table">
      <th>User</th>
      <th>Role</th>
      {% for role in project.projectrole_set.all %}
      <tr><td>{{role.user.username}}</td><td>{{role.get_name_display}}</td></tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    Resource Collections for this project:
  </div>
  <div class="panel-body">
    <div class="panel-group" id="accordion">
      {% for pc in project.projectcollection_set.all %}
      <div class="panel panel-default">
	<div class="panel-heading">
	  <a data-toggle="collapse" data-parent="#accordion" href="#collection{{pc.pk}}">{{pc.collection.collection.name}}</a>
	  Active: <span class="glyphicon glyphicon-{% if pc.active %}ok{% else %}remove{% endif %}"></span>
	  Crowd-Sourcing: <span class="glyphicon glyphicon-{% if pc.cs_enabled %}ok{% else %}remove{% endif %}"></span>
	</div>
	<div id="collection{{pc.pk}}" class="panel-collapse collapse out">
	  <table class="table">
	    <th>Name</th>
	    <th>Owner</th>
	    <th>Uploader</th>
	    <th>Details</th>
	    <th>Classify</th>
	    {% for resource in pc.collection.collection.resources.all %}
	    <tr>
	      <td>{{ resource.name }}</td>
	      <td>{{ resource.owner.username }}</td>
	      <td>{{ resource.uploader.username }}</td>
	      <td><a href="{% url "storage:resource_detail" resource.id %}" title="Details"><span class="glyphicon glyphicon-search"></span></a></td>
	      <td><a href="{% url "media_classification:classify" project.id resource.id pc.id %}" title="Classify Resource"><span class="glyphicon glyphicon-eye-open"></span></a></td>
	    </tr>
	    {% endfor %}
	  </table>
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
