{% extends "media_classification/base.html" %}
{% load staticfiles %}

{# Extra header: django-dynamic-formset #}
{% block header %}
<script type="text/javascript" src="{% static "jquery.formset.js" %}"></script>
<script type="text/javascript">
	$(function() {
		$('#collectionForm tbody tr').formset({
			prefix: '{{ collection_formset.prefix }}',
			formCssClass: 'dynamic_collection_formset'
		});
		$('#projectroleForm tbody tr').formset({
			prefix: '{{ projectrole_formset.prefix }}',
			formCssClass: 'dynamic_projectrole_formset'
		});
	});
</script>
{% endblock header %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
{% csrf_token %}

<h2>Name: {{form.name}}</h2>
<h3>Attribute sets:</h3>
{{form.attribute_sets}}
<h3>CS-Enabled for this project: {{form.cs_enabled}}</h3>
<h3>Collections:</h3>
<table id="collectionForm" class="table">
	<thead>
		<th>Name</th>
		<th>Is active ?</th>
		<th>Crowd Sourcing enabled ?</th>
		<th>Delete</th>
	</thead>
	<tbody>
	{% for form in collection_formset.forms %}
		<tr id="{{form.prefix}}-row">
			{{form.id}}
			<td>{{form.collection}}</td>
			<td>{{form.active}}</td>
			<td>{{form.cs_enabled}}</td>
			<td>{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{{ collection_formset.management_form }}

<h3>Roles:</h3>
<table id="projectroleForm" class="table">
	<thead>
		<th>User</th>
		<th>Role</th>
		<th>Delete</th>
	</thead>
	<tbody>
	{% for form in projectrole_formset.forms %}
		 <tr id="{{form.prefix}}-row">
			{{form.id}}
			<td>{{form.user}}</td>
			<td>{{form.name}}</td>
			<td>{% if form.instance.pk %}{{form.DELETE}}{% endif %}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{{ projectrole_formset.management_form }}

<input class="btn btn-primary" type="submit" value="Update" />
</form>

{% endblock content %}
