<li class="list-group-item"> <b>Name</b>: {{ sequence.name }} </li>
<li class="list-group-item"> <b>Resources</b>: {{ resources_len }} </li>
<li class="list-group-item"> <b>Description</b>: {{ sequence.description }} </li>
<li class="list-group-item"> <b>Created</b>: {{sequence.created}} <b>by</b> {{sequence.user.username}}</li>

