<div class="modal fade" id="modal-form-template" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">
	  <div id="modal-form-title"></div>
	</h3>
      </div>
      <div class="modal-body">
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{ message.tags }} alert-dismissable">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  {{ message|safe }}
	</div>
	{% endfor %}
	{% endif %}
	<div id="modal-form-alert" class="alert hide"><strong><span id="modal-form-alert-msg"></span></strong></div>
	<div class="">
	    <div id="modal-form">
	    </div>
	</div>          
      </div>
      <div class="modal-footer">
	<span id="modal-form-submit-button"></span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 


