{% extends "base.html" %}

{% block master_content %}
<!-- <ul class="nav nav-pills well well-sm"> -->
<!-- 	<li {% block storage_resource_list %}{% endblock %} > <a href="{% url "storage:resource_list" %}">Resources List</a></li> -->
<!-- 	<li {% block storage_collection_list %}{% endblock %} ><a href="{% url "storage:collection_list" %}">Collection List</a></li> -->
<!-- </ul> -->
<div>
{% block content %}{% endblock content %}
</div>
{% endblock master_content %}
