{% extends "base.html" %}
{% block master_content %}

<form role="form" action="" method="post" enctype="multipart/form-data">
<div class="panel panel-primary">
	<div class="panel-heading">Upload collection data</div>
	<div class="panel-body">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit" />
	</div>
</div>
</form>
{% endblock master_content %}
