{% extends "storage/base.html" %}
{% load staticfiles %}
{% block header%}
{{form.media}}
{% endblock %}
{% block content %}
You are about to ask
<b>{{collection.owner.username}}</b>
<a href="{{collection.owner.userprofile.get_absolute_url}}"><img src="{% static "icon/profile.png" %}" /></a>
for a request to obtain access to collection
<b>{{collection.name}}</b>
<a href="{{collection.get_absolute_url}}"><img src="{% static "icon/detail.png" %}" /></a>
<br />
<br />
<form action="" method="post">
{% csrf_token %}
Research project: {{form.project}}

<br />
Text: {{form.text}}
{{form.object_pk}}
<br />
<input type="submit" value="Send request" />
</form>
{% endblock content %}
