{% extends "storage/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block header %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
<script type="text/javascript" src="{% static "ng-grid/ng-grid.min.js" %}"></script>
<script type="text/javascript" src="{% static "ng-grid/ng-grid-flexible-height.js" %}"></script>
<script type="text/javascript" src="{% static "angular/js/trapper.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2.js" %}"></script>
<link type="text/css" href="{% static "ng-grid/ng-grid_trapper.css" %}"  media="all" rel="stylesheet" />
<link type="text/css" href="{% static "css/select2.css" %}" media="screen" rel="stylesheet">
{% endblock header %}

{% block content %}
<div ng-app="trapper" ng-controller="{{ model_name }}ListCtrl">
  {% block before_nggrid %}
  {% endblock %}
  <h3>
    <i class="icon-file"></i> {{ model_name }}s
    {% verbatim %}
    <div class="navbar-right" style="font-size:22px;">
      <span> Selected items: <strong>{{mySelections.length}}</strong></span>
    </div>
  </h3>
  <div class="panel panel-default">
    <div class="panel-heading">Filter resources:</div>
    <div class="panel-body">
      <form class="form-inline navbar-left" action="#">
        {% endverbatim %}
	{% crispy filtering_form %}
        {% verbatim %}
	<button type="button" class="btn btn-default" ng-click="refresh(get_url)">Apply</button>
      </form>
    </div>
  </div> 
  <nav class="navbar" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
	<input type="text" class="form-control btn-large search-query" style="width:300px;"ng-model="searchOptions.filterText" placeholder="SEARCH" />
      </div>
    </form>
    <div class="navbar-btn navbar-left">
      <label id="label-toggle-switch" class="label label-default">Select items</label>
      <input id="selection_switch" type="checkbox" class="switch-mini">
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% endverbatim %}
      {% block actions %}
      {% endblock %}
      {% verbatim %}
    </ul>
  </div>
  </nav>
  <div class="gridStyle" ng-grid="gridOptions"></div>
  {% endverbatim %}
  {% block modal_form %}
  {% endblock %}
  {% block modal_preview %}
  {% endblock %}    
</div>
{% endblock content %}

