{% extends "storage/base.html" %}
{% block content %}
<form action="" method="post">
{% csrf_token %}
{% if move_to_archive  %}
The object "{{object.name}}" is used by other collections and research projects. If you do not need this resource anymore you can move it to archive.  
{% else %}
Are you sure you want to delete "{{object.name}}" ?
{% endif  %}
<br />
<input type="submit" name="submit" value={% if move_to_archive %}"Move to archive" {% else %}"Yes"{% endif  %}/>

</form>
{% endblock content %}
