{% extends "storage/base.html" %}
{% load comments %}
{% load static  %}

{% block header %}
<script type="text/javascript" src="{% static "fluent_comments/js/ajaxcomments.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "fluent_comments/css/ajaxcomments.css" %}"/>   
{% endblock header %}

{% block content %}
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#show_media" data-toggle="tab">Media</a></li>
  <li><a href="#show_details" data-toggle="tab">Details</a></li>
  <li><a href="#show_map" data-toggle="tab">Map</a></li>
   <li><a href="#show_comments" data-toggle="tab">Comments</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane fade in active" id="show_media">
	{% include "storage/resource_display.html" %}
	</div>
	<div class="tab-pane fade" id="show_details">
	<table class="table">
		<tr>
			<td>Name:</td>
			<td>{{ resource.name }}</td>
		</tr>
		<tr>
			<td>Type:</td>
			<td>{{ resource.get_resource_type_display }}</td>
		</tr>
		<tr>
			<td>Date Uploaded:</td>
			<td>{{ resource.date_uploaded}}</td>
		</tr>
		<tr>
			<td>Owner:</td>
			<td>{{ resource.owner }}</td></tr>
		<tr>
			<td>Uploader:</td>
			<td>{{ resource.uploader }}</td></tr>
		<tr>
			<td>Public:</td>
			<td>{{ resource.is_public }}</td></tr>
		<tr>
			<td>Mime:</td>
			<td>{{ resource.mime_type }}</td></tr>
	</table>
	</div>
	<div class="tab-pane fade" style="width:1000px;" id="show_map">

	{% if resource.location %}
	{% include "geomap/location_display.html" with location=resource.location  %}
	{% else %}
	Map not available
	{% endif %}

	</div>
	<div class="tab-pane fade" id="show_comments">
	  {% get_comment_count for resource as comment_count %}
	  <p>This media file has <font size=4><b> {{ comment_count }}
	      </b>comments</font></p>
	  {% render_comment_list for resource%}
	  {% render_comment_form for resource %}
	</div>
</div>


{% endblock content %}
