{% if resource.resource_type == "V" %}
<video id="videoPlayer" class="video-js vjs-default-skin" controls preload="auto" width="640" height="370">
  <source src="{{resource.file.url}}" type="{{resource.mime_type}}" />
</video>

{% elif resource.resource_type == "A" %}
<audio controls>
	<source src="{{resource.file.url}}" type="{{resource.mime_type}}" />
</audio>
{% elif resource.resource_type == "I" %}
<img width=100% src="{{resource.file.url}}" title="{{resource_type}}" />
{% else %}
Unrecognized resource type
{% endif %}
