{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block master_content %}
<div class="row">
<div class="col-md-4">
<form action="" method="post" enctype="multipart/form-data">
  {% crispy form %}
<input type="submit" class="btn btn-default" value="Submit" />
</form>
</div></div>
{% endblock master_content %}
