.leaflet-control-filter-locations {
    top: 0;
    right: 50px;
    position: absolute;
}

.leaflet-control-filter-locations a {
    margin-right: 0px;
    background-image: url("../img/search.png");
}

