.jcarousel-wrapper {
    width: 900px;
    position: relative;
    margin-left: 20px;
    margin-right: 0px;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 75%;
    text-align: center;
    text-decoration: none !important;
    background: white;
}

.jcarousel-control-prev {
    left: -40px;
}

.jcarousel-control-next {
    right: -40px;
}

#selectable .ui-selected div.sequence-active { 
    background: #F39814;
}

.current_resource {
    background: #428bca;
}

.sequence-active {
    height: 20px;
    margin: 2px 2px 2px 2px;
}

.sequences-all {
    height: 20px;
}

.sequence {
    height: 20px;
    margin: 2px 2px 2px 2px;
}

.sequences-items {
    height: 20px;
    background: DarkOliveGreen;
    margin: 2px 2px 2px 2px;
}

.sequences-items-selected {
    background: #99CC66;
}