/* *********** */
/* Map details */
/* *********** */
#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* *********** */
/* Controls    */
/* *********** */

.storage-control {
    background: none no-repeat scroll center center #F8F8F9;
    border-radius: 4px;
    border: 1px solid #bbb;
}
.storage-control a {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    height: 36px;
    width: 36px;
    line-height: 36px;
}
.leaflet-control-embed,
.leaflet-control-tilelayers,
.leaflet-control-home,
.leaflet-control-locate,
.leaflet-control-search,
.leaflet-control-edit-in-osm,
.storage-measure-control,
a.storage-control-less {
    display: none;
}
.storage-more-controls .leaflet-control-embed,
.storage-more-controls .leaflet-control-tilelayers,
.storage-more-controls .leaflet-control-home,
.storage-more-controls .leaflet-control-locate,
.storage-more-controls .leaflet-control-search,
.storage-more-controls .leaflet-control-edit-in-osm,
.storage-more-controls .storage-measure-control,
.storage-more-controls .storage-control-less {
    display: block;
}
.storage-more-controls .storage-control-more {
    display: none;
}
.leaflet-control-embed a {
    background-image: url("../img/embed.png");
}
.leaflet-control-tilelayers a {
    background-image: url("../img/tilelayers-24.png");
}
.leaflet-control-infos a {
    background-image: url("../img/map-infos.png");
}
.leaflet-control-home a {
    background-image: url("../img/home.png");
}
.leaflet-control-locate a {
    background-image: url("../img/locate.png");
}
.leaflet-control-search a {
    background-image: url("../img/search.png");
    display: inline-block;
}
.leaflet-control-search a.loading {
    background-image: url("../img/search.gif");
}
.leaflet-control-search input {
    display: none;
    height: 30px;
}
.leaflet-control-search form {
    display: inline;
}
.leaflet-control-search input:focus, div.leaflet-control-search:hover input {
    display: inline-block;
    margin-right: 5px;
}
a.storage-control-text {
    float: right;
    margin: 0;
    width: 36px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #444;
    border-radius: 2px;
    background-color: #666;
    color: #f8f8f8;
    text-align: center;
    font-size: 0.8em;
}
.leaflet-control-edit-enable a {
    background-image: url('../img/edit-24.png');
}




/* *********** */
/*    Draw     */
/* *********** */

.leaflet-draw .leaflet-draw-toolbar a,
.leaflet-draw .leaflet-draw-toolbar a:hover {
    height: 44px;
    width: 44px;
    display: none;
    margin-top: 0;
    vertical-align: top;
    border-bottom: none;
    border-right: 1px solid #eee;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.leaflet-draw-toolbar {
    margin-top: 0;
}
.update-map-extent,
.leaflet-draw-toolbar .update-map-extent {
    background-image: url("../img/update-extent.png");
}
.leaflet-draw-toolbar .update-map-tilelayers,
.update-map-tilelayers {
    background-image: url("../img/tilelayers-24.png");
}
.leaflet-draw-toolbar .update-map-infos,
.update-map-infos {
    background-image: url("../img/map-infos.png");
}
.leaflet-draw-toolbar .update-map-permissions,
.update-map-permissions {
    background-image: url("../img/update-permissions.png");
}
.leaflet-draw-toolbar .upload-data,
.upload-data {
    background-image: url("../img/upload.png");
}
.leaflet-draw-toolbar .update-map-settings,
.update-map-settings {
    background-image: url("../img/settings.png");
}
.leaflet-draw-draw-marker,
.leaflet-draw-toolbar .leaflet-draw-draw-marker {
    background-position: 50% 50%;
    background-image: url("../img/draw_marker.png");
}
.leaflet-draw-draw-polyline,
.leaflet-draw-toolbar .leaflet-draw-draw-polyline {
    background-position: 50% 50%;
    background-image: url("../img/draw_polyline.png");
}
.leaflet-draw-draw-polygon,
.leaflet-draw-toolbar .leaflet-draw-draw-polygon {
    background-position: 50% 50%;
    background-image: url("../img/draw_polygon.png");
}
.storage-edit-enabled .leaflet-draw .leaflet-draw-toolbar a {
    display: block;
}
.leaflet-draw-section {
    margin-bottom: 24px;
}


/* ********************************* */
/*   Third party plugin override     */
/* ********************************* */

.leaflet-control-edit-in-osm .leaflet-control-edit-in-osm-toggle {
    background-image: url("../img/edit-in-osm.png");
}
.storage-measure-control,
.leaflet-control-edit-in-osm {
    border: 1px solid #bbb;
    border-radius: 4px;
    box-shadow: none;
}
.storage-measure-control.enabled {
    box-shadow: 0 0 2px 0 black inset;
}
.storage-measure-control a {
    background-image: url("../img/measure-24.png");
}
.storage-measure-edge {
    background: none repeat scroll 0 0 #2F4F4F;
    border-radius: 6px;
}



/* ********************************* */
/*     Help Lightbox                 */
/* ********************************* */
.storage-help-container {
    display: none;
    z-index: 10001;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.storage-help-on .storage-help-container {
    display: block;
}
.storage-help-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.5;
}
.storage-help-box {
    position: absolute;
    top: 10%;
    margin: 0 calc(50% - 400px/2);
    background-color: #fff;
    width: 400px;
    padding: 40px 20px;
    border: 1px solid #ddd;
    z-index: 10002;
    font-size: 0.8em;
}
.storage-help-box .storage-close-link {
    color: #000;
}
.storage-help-button {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/help-16.png");
    vertical-align: text-top;
}

/* ********************************* */
/*   Edit Help Panel                 */
/* ********************************* */

.leaflet-draw-actions {
    right: 50px!important;
}
.leaflet-draw-actions a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    height: 28px;
    position: relative;
    top: 8px;
    border-radius: 0!important;
    width: auto;
}
.leaflet-draw-actions a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
}
.leaflet-draw-actions li:first-child a:before {
    border-left: 8px solid rgba(0, 0, 0, 0.5);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content: "";
    right: -8px;
    position: absolute;
    top: 8px;
}


/* ********************************* */
/*   Edit main toolbox               */
/* ********************************* */

.leaflet-container a.leaflet-control-edit-save,
.leaflet-container a.leaflet-control-edit-cancel,
.leaflet-container a.leaflet-control-edit-disable {
    display: block;
    height: 36px;
    line-height: 36px;
    color: #666;
    border: none;
    font-size: 11px;
    margin-left: 10px;
    float: right;
}
.leaflet-container a.leaflet-control-edit-cancel,
.leaflet-container a.leaflet-control-edit-save {
    color: #f8f8f8;
    width: auto;
    height: 36px;
    line-height: 36px;
    min-height: 36px;
    padding: 0 10px;
    min-width: 100px;
}
.leaflet-container a.leaflet-control-edit-cancel {
    background-color: #C60F13;
}
.leaflet-container a.leaflet-control-edit-save {
    opacity: 0.5;
    cursor: not-allowed;
}
.storage-is-dirty a.leaflet-control-edit-save {
    opacity: 1;
    cursor: pointer;
}
.leaflet-container a.leaflet-control-edit-save,
.leaflet-container a.leaflet-control-edit-cancel,
.leaflet-container a.leaflet-control-edit-disable,
.storage-edit-enabled .leaflet-control-edit-enable {
    display: none;
}
.storage-edit-enabled a.leaflet-control-edit-save,
.storage-edit-enabled a.leaflet-control-edit-disable,
.storage-edit-enabled .storage-is-dirty a.leaflet-control-edit-cancel {
    display: inline-block;
}
.storage-is-dirty a.leaflet-control-edit-disable {
    display: none;
}
.storage-click-to-edit:after {
    content: "\00a0";
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: inline-block;
}
.storage-click-to-edit:hover:after {
    background-image: url("../img/edit-16.png");
}
.storage-main-edit-toolbox {
    display: none;
}
.storage-edit-enabled .storage-main-edit-toolbox {
    display: block;
    height: 46px;
    background-color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 5px;
    text-align: left;
    line-height: 36px;
    cursor: auto;
    border-bottom: 1px solid #ddd;
    opacity: 0.93;
}
.storage-edit-enabled .storage-main-edit-toolbox h3 {
    float: left;
}
.storage-edit-enabled .leaflet-top {
    top: 48px;
}
.storage-help {
    font-style: italic;
}


/* ********************************* */
/*   Datalayers Control              */
/* ********************************* */

.leaflet-control-browse .storage-browse-toggle {
    background-image: url("../img/datalayers-24.png");
    width: 36px;
    height: 36px;
}
.leaflet-control-browse .storage-browse-actions {
    background-color: #fff;
    padding: 10px;
    display: none;
    line-height: 24px;
    border-radius: 2px;
}
.leaflet-control-browse .storage-browse-datalayers {
    max-height: 10em;
    overflow-y: auto;
}
.storage-browse-features i,
.leaflet-control-browse .storage-browse-datalayers i {
    width: 24px;
    height: 24px;
    line-height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
}
.leaflet-control-browse .storage-browse-datalayers .off i {
    cursor: inherit;
}
.layer-toggle {
    background-image: url("../img/eye-on.png");
}
.off .layer-toggle {
    background-image: url("../img/eye-off.png");
}
.storage-browse-features .feature-zoom_to {
    background-image: url("../img/zoom_to-18.png");
}
.layer-zoom_to {
    background-image: url("../img/zoom_to.png");
}
.storage-browse-features .feature-edit,
.layer-edit {
    background-image: url("../img/edit-16.png");
}
.off .layer-edit {
    background-image: url("../img/edit-off-16.png");
}
.off .layer-zoom_to {
    background-image: url("../img/zoom_to-off.png");
}
.storage-browse-features .feature-title,
.leaflet-control-browse .storage-browse-actions .layer-title {
    width: inherit;
    cursor: inherit;
    padding-left: 6px;
}
.storage-browse-features .feature-title {
    font-size: 12px;
}
.leaflet-control-browse .storage-browse-actions .off .layer-title {
    color: rgb(179, 179, 179);
}
.leaflet-control-browse:hover > a {
    display: none;
}
.leaflet-control-browse:hover .storage-browse-actions {
    display: block;
}
.leaflet-control-browse a.add-datalayer,
.leaflet-control-browse a.storage-browse-link {
    background-image: url("../img/browse-data.png");
    background-position: 7px center;
    background-repeat: no-repeat;
    background-color: rgb(68, 68, 68);
    color: white;
    display: block;
    height: 24px;
    line-height: 24px;
    margin-top: 14px;
    padding: 0 5px;
    text-align: right;
    min-width: 160px;
    width: 100%;
    border-radius: 2px;
}
.leaflet-control-browse a.add-datalayer {
    background-image: url("../img/add-layer-grey-18.png");
}
.leaflet-control-browse a.add-datalayer:hover,
.leaflet-control-browse a.storage-browse-link:hover {
    background-color: rgb(99, 99, 99);
}


/* ********************************* */
/*   Features browser panel          */
/* ********************************* */

.storage-browse-features > div {
    border: 1px solid #d3d3d3;
    margin-bottom: 14px;
    border-radius: 2px;
}
.storage-browse-features h5 {
    height: 30px;
    line-height: 30px;
    background-color: #eeeee0;
    margin-bottom: 0;
    color: #666;
}
.storage-browse-features li {
    padding: 2px 0;
    white-space: nowrap;
}
.storage-browse-features li:nth-child(even) {
    background-color: #f8f8f3;
}
.storage-browse-features .feature-color {
    box-shadow: 0 0 4px 0 black inset;
    background-size: 70% 70%;
    border: 4px solid #f8f8f3;
    cursor: inherit;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
}
.storage-browse-features .polyline .feature-color {
    box-shadow: 0 0 4px 0 black inset;
    background-size: 50% 50%;
    background-image: url("../img/draw_polyline.png");
}
.storage-browse-features .polygon .feature-color {
    box-shadow: 0 0 4px 0 black inset;
    background-size: 50% 50%;
    background-image: url("../img/draw_polygon.png");
}
.show-on-edit {
    display: none!important;
}
.storage-edit-enabled .show-on-edit {
    display: inline-block!important;
}
.storage-edit-enabled .show-on-edit.inline {
    display: inline!important;
}
.storage-edit-enabled .show-on-edit.block {
    display: block!important;
}

.storage-browse-description {
    font-size: 0.9em;
    margin-bottom: 14px;
}


/* ********************************* */
/*      Tilelayer switcher           */
/* ********************************* */

.storage-tilelayer-switcher-container li {
    border: 1px solid rgb(116, 116, 116);
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 14px;
    overflow: hidden;
    position: relative;
    width: 256px;
    cursor: pointer;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.storage-tilelayer-switcher-container li div {
    background-color: rgb(116, 116, 116);
    bottom: 0;
    color: rgb(247, 246, 241);
    height: 56px;
    line-height: 56px;
    opacity: 0.9;
    padding-left: 10px;
    position: absolute;
    width: 100%;
    text-align: center;
}
.storage-tilelayer-switcher-container li:hover div:before,
.storage-tilelayer-switcher-container .selected div:before {
    content: "✓";
    font-size: 1.3em;
    line-height: 56px;
    padding-right: 7px;
    position: absolute;
    left: 7px;
}


/* ********************************* */
/*           Popup                   */
/* ********************************* */
.storage-popup-footer {
    background-color: rgb(68, 68, 68);
    color: white;
    display: block;
    height: 24px;
    line-height: 24px;
    margin-top: 14px;
    /*padding: 0 5px;*/
    /*text-align: right;*/
    min-width: 99px;
    border-radius: 2px;
}
.storage-popup-footer li {
    background-position: center center;
    background-repeat: no-repeat;
    height: 24px;
    display: inline-block;
    width: 33.3%;
    cursor: pointer;
}
.storage-popup-footer li.zoom {
    background-image: url("../img/zoom-grey-16.png");
}
.storage-popup-footer li.previous {
    background-image: url("../img/arrow-left-grey-16.png");
}
.storage-popup-footer li.next {
    background-image: url("../img/arrow-right-grey-16.png");
}


/* ************* */
/* Marker's Icon */
/* ************* */
.storage-div-icon .icon_container {
    background-color: white;
    border-radius: 4px 4px 4px 4px;
    height: 32px;
    width: 32px;
    box-shadow: 7px 10px 8px -5px black;
    opacity: 0.9;
    background-color: #2470b5;
    text-align: center;
    line-height: 32px;
}
.storage-div-icon .icon_container img {
    vertical-align: middle;
    max-width: 24px!important; /* leaflet.css has !important, so... */
}
.storage-div-icon .icon_arrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #2270b5;
    height: 0;
    left: 8px;
    position: relative;
    width: 0;
    opacity: 0.9;
    /*box-shadow: 4px 8px 6px -3px black;*/
}
.storage-drop-icon .icon_arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid #2270B5;
    height: 0;
    left: 6px;
    position: relative;
    top: -4px;
    width: 0;
}
.storage-drop-icon .icon_container {
    background-color: #2470B5;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 6px 13px 8px -4px black;
    height: 32px;
    line-height: 32px;
    opacity: 0.9;
    text-align: center;
    width: 32px;
}
.storage-drop-icon .icon_container img {
    vertical-align: middle;
    max-width: 24px !important;
}
.storage-circle-icon {
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    height: 12px;
    width: 12px;
}
.storage-ball-icon .icon_container {
    background-color: darkblue;
    background: radial-gradient(circle at 6px 38% , white -4px, darkblue 8px) repeat scroll 0 0 transparent;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px 21px 6px -3px black;
    height: 16px;
    opacity: 0.9;
    text-align: center;
    width: 16px;
}
.storage-ball-icon .icon_arrow {
    background-color: black;
    height: 16px;
    left: 7px;
    opacity: 0.9;
    position: relative;
    top: -1px;
    width: 2px;
}
.storage-edit-enabled .readonly {
    cursor: not-allowed;
}


/* ********************************* */
/*         Forms utils               */
/* ********************************* */

.storage-delete, .storage-to-polygon,
.clone-map-button, .delete_map_button,
.delete_datalayer_button, .storage-to-polyline {
    background-position: 7px center;
    background-repeat: no-repeat;
    text-indent: 38px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
}
.storage-to-polygon {
    background-image: url("../img/draw_polygon.png");
}
.storage-to-polyline {
    background-image: url("../img/draw_polyline.png");
}
.clone-map-button {
    background-image: url("../img/clone-24.png");
}
.storage-delete,
.delete_map_button {
    background-image: url("../img/delete-24.png");
    color: rgb(198, 15, 19);
}
.delete_datalayer_button {
    background-image: url("../img/delete-datalayer-24.png");
    color: rgb(198, 15, 19);
}
.storage-edit-actions li {
    background-repeat: no-repeat;
    background-position: 5px center;
    height: 36px;
    padding-left: 36px;
    line-height: 36px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 2px;
    border: 1px solid #ddd;
}
.storage-edit-actions li:hover {
    box-shadow: 0 0 3px 0 #ccc;
}
.storage-form-iconfield {
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 30px;
}
.storage-icon-list, .storage-pictogram-list {
    clear: both;
}
.storage-icon-choice {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: relative;
    cursor: pointer;
    background-image: url("../img/icon-bg.png");
    text-align: center;
    box-shadow: 0 0 4px 0 black inset;
    margin-bottom: 5px;
    margin-right: 5px;
}
.storage-icon-choice img {
    vertical-align: middle;
    max-width: 24px;
}
.storage-icon-choice:hover,
.storage-icon-choice.selected,
.storage-color-picker span:hover {
    box-shadow: 0 0 4px 0 black;
}
.storage-icon-choice .leaflet-marker-icon {
    bottom: 0;
    left: 30px;
    position: absolute;
}
.storage-color-picker {
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
    display: none;
}
.storage-color-picker span {
    width: 20px;
    height: 20px;
    display: block;
    padding: 0;
    margin: 0;
    cursor: pointer;
    float: left;
}

/* ********************************* */
/*         Ajax loader               */
/* ********************************* */
.storage-loading .storage-loader
{
    display: block;
    -webkit-animation: shift-rightwards 3s ease-in-out infinite;
    -moz-animation: shift-rightwards 3s ease-in-out infinite;
    -ms-animation: shift-rightwards 3s ease-in-out infinite;
    -o-animation: shift-rightwards 3s ease-in-out infinite;
    animation: shift-rightwards 3s ease-in-out infinite;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
}
.storage-loader
{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    z-index: 10100;
    background-color: DarkRed;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

@-webkit-keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }

}
@-moz-keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }

}
@-o-keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }

}
@keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }
}

/* *************************** */
/* Overriding leaflet defaults */
/* *************************** */

.leaflet-control-zoom a, .leaflet-control-zoom a:hover {
    height: 36px;
    width: 36px;
    line-height: 36px;
}
.leaflet-container .leaflet-control-zoom {
    margin-left: 10px;
}
.leaflet-top {
    z-index: 1001;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
}
.leaflet-popup-content-wrapper {
    border-radius: 4px;
}
.storage-popup-content {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.leaflet-bar {
    border: 1px solid #bbb;
    box-shadow: none;
}
.marker-cluster {
    background-color: white;
    width: 40px;
    height: 40px;
}

/* ****** */
/* Mobile */
/* ****** */

@media all and (max-width: 480px) {

    .leaflet-control-layers-expanded label {
        display: inline-block;
        margin-right: 10px;
    }

    .leaflet-control-layers-expanded {
        margin-left: 10px;
    }
}

/* ****** */
/* Print  */
/* ****** */

@media print {

    .leaflet-control-container {
        display: none;
    }
}
