{% extends "leaflet_storage/map_detail.html" %}

{% load staticfiles %}

{% block title %}{{ map.name }}{% endblock %}
{% block body_class %}map_detail{% endblock %}

{% block header %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "jquery/jquery-2.1.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/geomap.js" %}"></script>
    <link type="text/css" href="{% static "css/geomap.css" %}"  media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
    {% block map_init %}
        {% include "leaflet_storage/map_init.html" %}
    {% endblock %}
    {% include "leaflet_storage/map_messages.html" %}    
{% endblock %}
