{% load thumbnail %}

<h2>Location: {{ location.location_id }}</h2>
<p><b>X</b>: {{ location.coordinates.x }}, <b>Y</b>: {{ location.coordinates.y }}</p>
<p>Owner: {{ location.owner }}</p>
{% if resources %}

{% for r in resources %}
<ul>
  <li>
    <h2>{{ r.name }}</h2>
    <a href="/storage/resource/detail/{{ r.pk }}/" target="_blank"><img src="{{ r.file|thumbnail_url:'default' }}" alt=""></a>
    <p>Date: {{ r.date_recorded }}, Type: {{ r.resource_type }}</p>
    <p>Owner: {{ r.owner }}</p>
  </li>
</ul>
{% endfor %}

{% else %}

<p>No resources for this location.</p>

{% endif %}

