{% extends "geomap/base.html" %}

{% load staticfiles %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">Locations</div>
  <div class="panel-body">
    <table class="table">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Owner</th>
	  <th>Modified</th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
	{% for map in maps %}
	<tr>
	  <td>{{ map.name }}</td>
	  <td>{{ map.owner.get_full_name }}</td>
	  <td>{{ map.modified_at }}</td>
	  <td><a href="{{ map.get_absolute_url }}">View</a></td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
