{% load leaflet_storage_tags %}
<div id="map"></div>
<script type="text/javascript">
  var MAP = new L.Storage.Map(
      "map", 
      {{ map_settings|notag|safe }}
  );
  MAP.on("layer", function(){
      alert("layer event!");
  });
  MAP.setView([51.505, -0.09], 13);
</script>
