{% extends "base.html" %}

{% block master_content %}
<ul class="nav nav-pills">
	<li {% block messaging_message_inbox %}{% endblock %}><a href="{% url "messaging:message_inbox" %}">Inbox <span class="badge">{{ user.userprofile.count_unread_messages }}/{{user.received_messages.all.count}}</span></a></li>

	<li {% block messaging_message_outbox %}{% endblock %} ><a href="{% url "messaging:message_outbox" %}">Outbox<span class="badge">{{user.sent_messages.all.count}}</span></a></li>

	<li {% block messaging_message_create %}{% endblock %}><a href="{% url "messaging:message_create" %}">New message <span class="glyphicon glyphicon-pencil"></span></a></li>

	<li {% block messaging_cnotification_list %}{% endblock %}><a href="{% url "messaging:cnotification_list" %}">Requests: Collections <span class="badge">{{ user.userprofile.count_unresolved_collection_notifications }}</span></a></li>

	<li {% block messaging_rnotification_list %}{% endblock %}><a href="{% url "messaging:rnotification_list" %}">Requests: Resources <span class="badge">{{ user.userprofile.count_unresolved_resource_notifications }}</span></a></li>
</ul>
<div class="pill-content">
{% block content %}{% endblock content %}
</div>
{% endblock master_content %}
