{% extends "research/base.html" %}
{% load staticfiles %}
{% block research_project_list %} class="active" {% endblock %}
{% block content %}
{% if items %}
Available projects:
<table class="table">
<th>Project Name</th>
<th>Project Staff</th>
<th>Details</th>
<th>Edit</th>
<th>Delete</th>
{% for project, can_view, can_edit, can_delete in items %}
<tr>
	<td>{{ project.name }}</td>
	<td>
	{% for r in project.projectrole_set.all %}
	<a href="{{r.user.userprofile.get_absolute_url}}">{{r.user}}</a>({{r.get_name_display}}),
	{% endfor %}
	</td>
	<td>
		{% if can_view %}
		<a href="{% url "research:project_detail" project.id %}"><span class="glyphicon glyphicon-search"></span></a>
		{% else %}
		<span class="glyphicon glyphicon-ban-circle"></span>
		{% endif %}
	</td>
	<td>
		{% if can_edit %}
		<a href="{% url "research:project_update" project.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% else %}
		<span class="glyphicon glyphicon-ban-circle"></span>
	{% endif %}
	</td>
	<td>
		{% if can_delete %}
		<a href="{% url "research:project_delete" project.id %}"><span class="glyphicon glyphicon-remove"></span></a>
		{% else %}
		<span class="glyphicon glyphicon-ban-circle"></span>
	{% endif %}
	</td>
</tr>
{% endfor %}
</table>
{% else %}
No project available. Start one now!
{% endif %}
<p>
	<a class="btn btn-sm btn-success" href="{% url "research:project_create" %}">Create new project <span class="glyphicon glyphicon-book"></span></a>
</p>
{% endblock content %}
